<HTML>
<BODY bgcolor="cyan">
<form method="POST" action="" enctype="multipart/form-data">
    <center>
        <div class="msg">{{ msg }}</div>
    <H1>Enter your details </H1> <br>
    Name <input type = "text" name= "name" /> <br> <br>
    Emailid <input type = "text" name = "email" /> <br> <br>
        Phoneno <input type="text" name="phone" /> <br> <br>
        DOB <input type="text" name="dateofbirth"/><br> <br>
        Upload image <input type="file" name="image_file" value="Submit">
    <input type = "submit">
    </center>
</form>
</BODY>
</HTML>
