<HTML>
<BODY bgcolor="cyan">
<style>
table, th, td {
  border:1px solid black;
}
</style>
<center>
<table>
    <tr>
    <th> Name </th>
    <th> Email id </th>
    <th> Phone no </th>
    <th>  DOB </th>
        <th> Action </th>
    </tr>
{% for item in data %}
<tr>
<td> {{item[0]}} </td>
    <td> {{item[1]}} </td>
    <td> {{item[2]}} </td>
    <td> {{item[3]}} </td>
    <td>
        <a href="/delete/{{item[4]}}">
            <button> Delete </button>
        </a>
        <a href="/update/{{item[4]}}">
            <button> Update </button>
        </a>

    </td>
</tr>
{% endfor %}
</table>
</center>
</BODY>
</HTML>