<HTML>
<BODY bgcolor="cyan">
<style>
table, th, td {
  border:1px solid black;
}
</style>
<center>
    {{msg}}
    <a href="/formpage">
            <button> Add Student </button>
        </a>
<table>
    <tr>
    <th> Name </th>
    <th> Email id </th>
    <th> Phone no </th>
    <th>  DOB </th>
        <th> Action </th>
        <th> Image </th>
    </tr>
    {% for i in range(length_of_data) %}
<tr>
    <td> {{data[i][0]}} </td>
    <td> {{data[i][1]}} </td>
    <td> {{data[i][2]}} </td>
    <td> {{data[i][3]}} </td>
    <td>
        <a href="/delete/{{data[i][4]}}">
            <button> Delete </button>
        </a>
        <a href="/update/{{data[i][4]}}">
            <button> Update </button>
        </a>
    </td>
    <td>
        <img src="data:;base64,{{l[i]}}"  alt="No image to show"/>
    </td>
</tr>
        {% endfor %}
</table>
</center>
</BODY>
</HTML>